<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--由于最新版本的boostrap不支持IE,所以让IE运行最新的渲染样式-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--viewport用于适配移动端，1表示不缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Components</title>       
        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
        <style type="text/css">
            input.hide {
                display: none;
            }
            button.hide {
                display: none;
            }
            form {
                width: 400px;
                margin-right: auto;
                margin-left: auto;
            }
            label {
                display: block;
            }
/*            input {
                width: 200px;
            }
*/
        </style>
    </head>
    <body>
        <div class="container text-center">
            <h1 class="display-1">Components Selection</h1>
            <p>Graduate Project of Component-based Distributed Social Network Text Mining System</p>
            <br/>
        </div>
        
        <form  class="form-group text-center" method="POST" action="{{ url_for('component') }}">
            <div class="data-collection">
                <label for="data-collection">Data Collection</label>
                <select class="data-collection form-control" name="data-collection">
                  <option value="realtime">Real-time Tweets</option>
                  <option value="user-timeline">Timeline of User</option>
                  <option value="query-by-text">Query by Text</option>
                  <!-- <option value="query-by-location">Query by Location</option> -->
                  <option value="favorite-list">Favorite List</option>
                </select>
                <input class="hide form-control" type="text" name="twitter-account" placeholder="Twitter Account" required>
                <input class="hide form-control" type="text" name="query-text" placeholder="Query by Text" required>
                <input class="hide form-control" type="text" name="query-location" placeholder="Query by Location" required>
            </div>
            <br/>
            
            <label for="data-processing">Data Processing</label>
            <select class="data-processing form-control" name="data-processing">
            </select>
            <button type="button" id="add" class="hide">Add Component</button>
            <br/>

            <label for="data-visualization">Data Visualization</label> 
            <select class="data-visualization  form-control" name="data-visualization">
            </select>
            <br/>

            <button type="submit" value="submit" class="submit btn btn-primary btn-large">Submit Topology</button><br/>
        </form>
              
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
        <script src="/static/js/updateSelect.js"></script>
        <script type="text/javascript">


        $('.data-collection').on("change", function() {
            // console.log($('.data-collection option:selected').text())
            
            $('input').addClass('hide');
            $('input.hide').prop('disabled', true);
            $('select.data-collection').css({'width': 400});
            $('select.data-collection').css({'float': 'none'});
            var selected_input_value = $('.data-collection option:selected').attr('value');
            if (selected_input_value == "user-timeline"  || selected_input_value == "favorite-list") {
                // $('input[name="twitter-account"]').show();
                $('input[name="twitter-account"]').removeClass('hide');
                $('input[name="twitter-account"]').prop('disabled', false);
                $('select.data-collection').css({'width': 200});
                $('select.data-collection').css({'display': 'inline'});
                $('select.data-collection').css({'float': 'left'});
                $('input[name="twitter-account"]').css({'width':200});

            } 
            else if (selected_input_value == "query-by-text") {
                $('input[name="query-text"]').removeClass('hide');
                $('input[name="query-text"]').prop('disabled', false);
                $('select.data-collection').css({'width': 200});
                $('select.data-collection').css({'display': 'inline'});
                $('select.data-collection').css({'float': 'left'});
                $('input[name="query-text"]').css({'width':200});
                // $('select.data-collection').css({'width': 50%});
            }
        });
        </script>
    </body>

</html>