<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--由于最新版本的boostrap不支持IE,所以让IE运行最新的渲染样式-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--viewport用于适配移动端，1表示不缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Components</title>       
        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
        <style type="text/css">
            input.hide {
                display: none;
            }
            button.hide {
                display: none;
            }
            form {
                width: 400px;
                margin-right: auto;
                margin-left: auto;
            }
            label {
                display: block;
            }
/*            input {
                width: 200px;
            }
*/
        </style>
    </head>
    <body>
        <div class="container text-center">
            <h1 class="display-1">Components Selection</h1>
            <p>Graduate Project of Component-based Distributed Social Network Text Mining System</p>
            <br/>
        </div>
        
        <form  class="form-group text-center" method="POST" action="{{ url_for('component') }}">
            <div class="data-collection">
                <label for="data-collection">Data Collection</label>
                <select class="data-collection form-control" name="data-collection">
                  <option value="realtime">Real-time Tweets</option>
                  <option value="user-timeline">Timeline of User</option>
                  <option value="query-by-text">Query by Text</option>
                  <!-- <option value="query-by-location">Query by Location</option> -->
                  <option value="favorite-list">Favorite List</option>
                </select>
                <input class="hide form-control" type="text" name="twitter-account" placeholder="Twitter Account" required>
                <input class="hide form-control" type="text" name="query-text" placeholder="Query by Text" required>
                <input class="hide form-control" type="text" name="query-location" placeholder="Query by Location" required>
            </div>
            <br/>
            
            <label for="data-processing">Data Processing</label>
            <select class="data-processing form-control" name="data-processing">
              <option selected="selected" value="sentiment">Sentiment Analyze</option>
              <option value="trends">Trends</option>
              <option value="word-count">Word Count</option>
              <option value="top-n">Top N</option>
              <option value="tfidf">TFIDF</option>
              <!-- <option value="customize">Customize Topology</option> -->
            </select>
            <button type="button" id="add" class="hide">Add Component</button>
            <br/>

            <label for="data-visualization">Data Visualization</label> 
            <select class="data-visualization  form-control" name="data-visualization">
              <option value="map">Map</option>
              <option value="line-graph">Line Graph</option>
              <option value="bar-chart">Bar Chart</option>
              <option value="radar-chart">Radar Chart</option>
              <option value="pie-chart">Pie Chart</option>
              <option value="word-cloud">Word Cloud</option>
            </select>
            <br/>

            <!-- <label for="data-persistence">Data Persistence</label>
            <select class="data-persistence  form-control" name="data-persistence">
              <option value="cassandra">Apache Cassandra</option>
              <option value="neo4j">Neo4j</option>
            </select>
            <br/> -->

            <button type="submit" value="submit" class="submit btn btn-primary btn-large">Submit Topology</button><br/>
        </form>

        <!-- <div id="selected-item">
            <form action="{{url_for('topology')}}">
                <input type="text" name="collection" value=""><br>
                <input type="text" name="processing" value=""><br>
                <input type="text" name="visualization" value=""><br>
                <input type="text" name="persistence" value=""><br>
                <button type="submit" class="submit">Submit Topology</button><br/>
            </form>
        </div> -->
        
    


        
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 

        <script type="text/javascript">

        // $('select.data-collection').css({'width': 200});

        $('.data-collection').change(function() {
            // console.log($('.data-collection option:selected').text())
            
            $('input').addClass('hide');
            $('input.hide').prop('disabled', true);
            $('select.data-collection').css({'width': 400});
            $('select.data-collection').css({'float': 'none'});
            var selected_input_value = $('.data-collection option:selected').attr('value');
            if (selected_input_value == "user-timeline"  || selected_input_value == "favorite-list") {
                // $('input[name="twitter-account"]').show();
                $('input[name="twitter-account"]').removeClass('hide');
                $('input[name="twitter-account"]').prop('disabled', false);
                $('select.data-collection').css({'width': 200});
                $('select.data-collection').css({'display': 'inline'});
                $('select.data-collection').css({'float': 'left'});
                $('input[name="twitter-account"]').css({'width':200});

            } 
            else if (selected_input_value == "query-by-text") {
                $('input[name="query-text"]').removeClass('hide');
                $('input[name="query-text"]').prop('disabled', false);
                $('select.data-collection').css({'width': 200});
                $('select.data-collection').css({'display': 'inline'});
                $('select.data-collection').css({'float': 'left'});
                $('input[name="query-text"]').css({'width':200});
                // $('select.data-collection').css({'width': 50%});
            } 
            // else if (selected_input_value == "query-by-location") {
            //     $('input[name="query-location"]').show();
            //     $('input[name="query-location"]').prop('disabled', false);
            // }
        }).change();

        var dataProcessingOption = '<select class="add"><option selected="selected" value="sentiment">Sentiment Analyze</option><option value="trends">Trends</option> <option value="word-count">Word Count</option> <option value="top-n">Top N</option> <option value="tfidf">TFIDF</option></select>';

        $('.data-processing').change(function() {
            // console.log($('.data-collection option:selected').text())
            // 
            
            var button = '<button id="add">Add Component</button>'
            $('button.hide').hide();
            var selected_input_value = $('.data-processing option:selected').attr('value');
            if (selected_input_value == "customize") {
                // $('input[name="twitter-account"]').show();
                // $('input[name="twitter-account"]').prop('disabled', false);
                $('#add').show();
                // $('.data-processing').after(button);
                console.log("hello")

            } 
        }).change();

        function addSelect() {
            $('#add').after(dataProcessingOption);
        }
        $('#add').click(function() {
            addSelect();
        })

        /*var source = new EventSource('/stream?topic=' + topic);*/
        /*var source = new EventSource('/stream');*/
        /*source.onmessage = function (event) {
            console.log(event.data);
        }
*/
        // var collection;
        // var processing;
        // var visualization;
        // var persistence;
        // $('button').click(function(e) {
        //     var className = $(this).attr('class');
        //     var text = $('select.'+className+' option:selected').text()
        //     var value = $('select.'+className+' option:selected').attr('value')
        //     if (className == 'data-collection') {
        //         collection = value;
        //     } else if (className == 'data-processing') {
        //         processing = value;
        //     } else if (className == 'data-visualization') {
        //         visualization = value;
        //     } else if (className == 'data-persistence') {
        //         persistence = value;
        //     }
        //     $('#selected-item').append(text+'<br/>');
        // })

        // $('button.submit').click(function(e) {
        //     if (collection && processing && visualization && persistence) {

        //     }
        // });

        // $('button.topic').click(function(e){
        //     /*var topic = $('input').val();*/
        //     var topic = $('.kafka-topic option:selected').text();
        //     console.log(topic);
        //     var source = null;
        //     source = new EventSource('/stream?topic=' + topic);

        //     source.onmessage = function (event) {
        //         console.log(event);
        //     }
        // });
        </script>
    </body>

</html>