<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/map.css">
    <link rel="stylesheet" type="text/css" href="static/css/chart.css">
</head>
<body>

<div id='map'></div>
<div class='chart'> <div>


<script src="static/js/mapbox.js"></script>
<script src="static/js/chart.js"></script>
</body>
</html>