div#container {
	width:100%; 
	height:100%;
}

div#header {
	background-color:#99bbbb;
	height: 30px;
}

div#map { 
	position:relative; 
/*	top:0; 
	bottom:0;*/
	/*float: left; */
	left:0px;
	width:80%; 
	height:80%;
	margin-right: 200px;
}

div#detail {
	position: absolute;
	background-color:#EEEEEE;
	right: 0px;
	top:30px; 
	bottom:0;
	width:20%
}

div.chart { 
  background: #fff;
  position: relative;
  width: 100%;
}

/*.search-ui {
  position:absolute;
  top:10px;
  left:10px;
  z-index:1000;
 }*/

#map .tabs-ui {
  position:relative;
  min-height:200px;
  width:240px;    
  clear:both;
  margin:25px 0;
  }
#map .tab {
  float:left;
  }
#map .tab label {
  background:#eee;
  padding:10px;
  border:1px solid #ccc;
  margin-left:-1px;
  position:relative;
  left:1px;
  top:1px;
  cursor:pointer;
  }
#map .tab label:hover {
  background:#f8f8f8;
  }
#map .tab [type=radio] {
  display:none;
  }
#map .tab .content {
  background:white;
  position:absolute;
  top:28px;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
  border:1px solid #ccc;
  }
#map .tab [type=radio]:checked ~ label {
  background:white;
  border-bottom:1px solid white;
  z-index:2;
  }
#map .tab [type=radio]:checked ~ label ~ .content {
  z-index:1;
<<<<<<< HEAD
  }

/*jquery-ui autocomplete*/
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }


#university_into {
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
=======
  }
>>>>>>> 3091675ce63286e4f884b7dfe5b5237331c7c379
