<!DOCTYPE html>
<meta charset="utf-8">
<title>Bar Chart</title>
<head>
     <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar']})
      google.charts.setOnLoadCallback(drawChart);

      var source = new EventSource('/stream');
      var hashSentence = {};
      var hashPersonalSentiment = {};
      var hashCountry = {};
      var hashCountrySentiment = {};
      var sentimentWords = ["unhappy", "medium unhappy", "neutral", "medium happy", "happy"];
      var titles = ['Country','Country Sentiment'];
      var data_array = [];
      // data_array.push(titles);
      source.onmessage = function (event) {
        var sentence = event.data.split("DELIMITER")[0];
        var screen_name = event.data.split("DELIMITER")[1];
        var create_at = event.data.split("DELIMITER")[2];
        var geoinfo = event.data.split("DELIMITER")[3];
        var countryName = event.data.split("DELIMITER")[4];
        var personalSentiment = event.data.split("DELIMITER")[5];
        var countrySentiment = event.data.split("DELIMITER")[6];
        
        data_array = [];
        data_array.push(titles);
        //var point = [latitude, longitude];
        //console.log("NEW DATA IS HERE " + event.data);
        if (geoinfo != "n/a" && countryName != "n/a" && countryName != undefined) {
          hashCountrySentiment[countryName] = parseFloat(countrySentiment);
          for (var key in hashCountrySentiment) {
            var temp_array = [key, hashCountrySentiment[key]];
            data_array.push(temp_array);
          }
        }
      }

      function drawChart() {
        var data = google.visualization.arrayToDataTable(data_array);

        var options = {
          title: "test",
          chartArea: {width: '50%'},
          hAxis: {
            title: 'Country Name'
          },
          vAxis: {
            title: 'Sentiment Value',
            minValue: 0
          }
        };

        var chart = new google.visualization.BarChart(document.getElementById('barchart_material'));

        chart.draw(data, options);
      }
    


      var updateViz = function() {
        var data = google.visualization.arrayToDataTable(data_array);

        var options = {
          title: "test",
          chartArea: {width: '50%'},
          hAxis: {
            title: 'Country Name',
            minValue: 0
          },
          vAxis: {
            title: 'Sentiment Value',
            
          }
        };

        var chart = new google.visualization.BarChart(document.getElementById('barchart_material'));

        chart.draw(data, options);
      }

      window.setInterval(updateViz, 1000);

    </script>
</head>

<body>
<h1 style="color:#55ACEE">Bar Chart</h1>

<div id="barchart_material" style="height:400px"></div>
</body>
  