<!DOCTYPE html>
<meta charset="utf-8">
<title>Line Graph</title>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>
  <h1 style="color:#55ACEE">Line Graph</h1>

  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="/static/js/stream_process.js"></script>
  <script src="/static/js/echarts.min.js"></script>

  <!-- 为 ECharts 准备一个具备大小（宽高）的Dom -->
  <div id="main" style="width: 600px;height:400px;"></div>

  <script type="text/javascript">

      var myChart = echarts.init(document.getElementById('main'));
      var app = {};
      // 指定图表的配置项和数据
      var option = {
          title: {
              text: 'ECharts 入门示例'
          },
          tooltip: {},
          grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
          },
          legend: {
              data:['twitter']
          },
          xAxis: {
            type: 'time',
            boundaryGap: false,
          },
          yAxis: {
            type: 'value',
          },
          series: [{
              name: 'twitter',
              type: 'bar',
              barWidth: 15,
              data: dataset
          }]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);

      app.timeTicket = setInterval(function () {
        myChart.setOption({
            xAxis: {
                data: dateList
            },
            series: [{
                name:'twitter',
                data: dataset
            }]
        });
      }, 1000);
  </script>